/.idea/
/JSSP_DM_stage_sans_RL.zip
/myfile_0.txt
/myfile_1.txt
/myfile_2.txt
/myfile_3.txt
/myfile_4.txt
/myfile_5.txt
/myfile_6.txt
/myfile_7.txt
/myfile_8.txt
/myfile_9.txt
/myfile_10.txt
/myfile_11.txt
/myfile_12.txt
/myfile_13.txt
/myfile_14.txt
/myfile_15.txt
/myfile_27.txt
/results.csv
/results_light.csv
